* {
    width: 100%;
    height: auto;
    background: #8aafe5;
  }
  
  .nonSecureBanner { 
      padding:10px;
      position: fixed;
      bottom: 5px;
      right: 5px;
      left: 5px;
      background: blue;
      color: yellow;
      text-align: center;
      font-size: 20px;
  }
  
  .usersList {
      font-size: 20px;
  }
  
  .connectedUsers {
      font-size: 20px;
  }
  
  .howToUse {
      color: black;
      font-size: 20px;
      text-align: justify;
      position: absolute;
      bottom: 15%;
      text-align: left;
      width: 85%;
  
  }
  
  li {
    list-style-image: url("../pictures/blueArrow.jpg");
  
  }
  
  p {
      background: blue;
  }